.button,
.buttonAnswer {
  height: 15%;
  width: 100%;
  background-color: rgb(2, 66, 137);
  border-radius: 50px;
  border: 4px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  font-family: Arial;
}

.button:hover {
  background-color: rgb(2, 66, 170);
}
